.infor-page {
    background: #F7F7F7;
    height: 100vh;
    overflow: hidden;
    .head {
        position: relative;
        padding: 42px;
        padding-bottom: 47px;
        padding-right: 0;
        width: 100%;
        .head-bgimg {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: -42px;
            width: 100%;
        }
        .head-wrapper {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 5;
            gap: 18px;
            .profile {
                width: 66px;
                height: 66px;
                border-radius: 50%;
                &.org-profile {
                    margin-left: -10px;
                }
            }
            .middle-box {
                display: flex;
                flex-direction: column;
                gap: 9px;
                flex: 1;
                padding-right: 8px;
                width: 50px;
                &.org-middle {
                    margin-left: -6px;
                }
                .name {
                    font-size: 21px;
                    color: #FFFFFF;
                    font-weight: 600;
                    &.org-name {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.3;
                        max-width: 150px;
                        word-wrap: break-word;
                        word-break: break-all;
                        display: -webkit-box;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                text {
                    font-size: 15px;
                    color: #FFFFFF;
                }
            }
            .button {
                position: relative;
                left: -55px;
                border-radius: 14px 14px 14px 14px;
                border: 1px solid #018BBC;
                width: 60px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                .text {
                    font-size: 12px;
                    color: #018BBC;
                    }
                .add-box {
                    display: flex;
                    align-items: center;
                    gap: 3.5px;
                    .add {
                        height: 9.5px;
                        width: 9.5px;
                    }
                }             
            }
            .selected {
                border: 1px solid #ECECEC;
                .text {
                color: #999999;
                }
            }
        }
    }
}