//Popup
.chat-pop-up {
  .exchange-box {
    height: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    background: rgba(242, 242, 242, 0.4);
    box-shadow: 0px -3px 6px 1px rgba(0,0,0,0.16);
    color: #999999;
    font-size: 16px;
    .yes-box {
      border-radius: 10px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 341px;
      height: 71px;
      background-color: white;
      .yes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 313px;
        height: 35px;
      }
      .border {
        border-bottom: 1px solid #F0F0F0;
      }
      .below {
        font-size: 12px;
      }
      .yes-ph {
        font-size: 15px;
        color: #CCC8C8;
      }
    }
    .no {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px 10px 10px 10px;
      background-color: white;
      height: 38px;
      width: 341px;
    }
  }
}

//Chat
.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 20px;
    color: #000000;
    margin-top: 19px;
    margin-bottom: 18px;
  }

  .notifi {
    font-size: 11px;
    color: #999999;
  }
  .notifi-bg {
    background: #F2F2F2;
    border-radius: 5px 5px 5px 5px;
    width: 154px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chat-bubble {
    display: flex;
    align-items: center;
    width: calc(375px - 22px*2);
    gap: 12px;
    color: #08090A;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 26px;
    .profile {
      height: 45px;
      width: 45px;
      border-radius: 50%;
    }
    .bubble {
      padding-inline: 12px;
      padding-top: 11px;
      padding-bottom: 11px;
      max-width: 200px;
    }
  }
  .left {
    justify-content: flex-start;
    .bubble {
      background: rgba(229, 229, 230, 0.5);
      border-radius: 0px 10px 10px 10px;
    }
  }
  .right {
    justify-content: flex-end;
    .bubble {
      background: #CCE8F2;
      border-radius: 10px 0px 10px 10px;
    }
  }
}