.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    width: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    .register-button {
      margin-top: 25px;
    }
    .foot-box {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #666262;
      margin-bottom: 17px;
      .arrow {
        width: 20px;
        height: 20px;
      }
    }
    .agreement {
      font-size: 14px;
      color: #666262;
    }
  }
}