.PassReject-box {
  background-color: #ECECEC;
  position: fixed;
  bottom: 0;
  z-index: 100;
  height: 60px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .admin-button {
    width: 160px;
    border-radius: 8%;
  }
}

.bio-page-pass-reject {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 80px;
    font-size: 16px;
    width: 80%;
    color: #303030;
    .title {
      color: #000000;
      font-size: 18px;
    }
    .blue {
      color: #018BBC;
    }
  }
  .bio-textarea-box {
    height: 145px + 13px*2;
  }
  .bio-textarea {
    height: 145px;
  }
}