.new-admin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .height-handler {
    height: 15px;
  }
  .button {
    margin-top: 73px;
  }
}

.admin-manage {
  .title {
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px; 
  }
}