.admin-button {
  margin-top: 6.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  font-size: 17px;
  color: #08090A;
  background-color: #fff;
}