//Message
.msg {
    position: relative;
    display: flex;
    align-items: center;
    padding: 22px;
    padding-top: 21px;
    padding-bottom: 15px;
    border-bottom: #ECECEC 1px solid;
    .profile {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .middle-box {
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-items: center;
    }
    .name {
        color: #3A3B3C;
        font-size: 18px;
    }
    .content {
        color: #6B6B6C;
        font-size: 15px;
    }
    .time {
        position: absolute;
        right: 23px;
        top: 21px;
        color: #999999;
        font-size: 11px;
    }
}
.msg-container {
    margin-top: -11px;
}