.allview {
  display: flex;
  flex-direction: column;
  align-items: center;
  .search {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .acti-item-border {
    border-bottom: 1px solid #ECECEC;
  }
  .container {
    padding-top: 15px;
  }
  .new-acti-box {
    background-color: #ECECEC;
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 90px;
    width: 100%;
  }
}