.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    width: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    .reset-buttom {
      margin-top: 25px;
    }
  }
}