//PopUp
.myinfor-pop-up {
  max-height: 120px;
}
.taroify-picker__cancel {
  font-size: 16px;
  color: #303030;
}
.taroify-picker__title {
  font-size: 18px;
  color: #303030;
}
.taroify-picker__confirm {
  font-size: 16px;
  color: #018BBC;
}
.taroify-picker-column {
  font-size: 17px;
  color: #000000;
}
//bio
.bio-page {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    color: #000000;
    font-size: 18px;
  }
  .bio-textarea-box {
    height: 145px + 13px*2;
  }
  .bio-textarea {
    height: 145px;
  }
}
//profession
.taroify-cascader {
  height: 430px;
  min-height: 430px;
  margin-bottom: 20px;
  .taroify-cascader__header {
    font-size: 17px;
    height: 60px;
  }
  .taroify-tabs__wrap {
    height: 25px !important;
    .taroify-tabs__nav--line {
      padding-bottom: 5px;
      .taroify-cascader__tab {
        padding: 0 10px;
      }
      .taroify-tabs__tab__content-ellipsis {
        font-size: 15px;
      }
    }
    .taroify-tabs__line {
      width: 60px;
    }
  }
  .taroify-cascader__options {
    height: 350px;
    .taroify-cascader__option {
      width: 100px;
      padding: 10px;
      font-size: 15px;
    }
  }
  .taroify-cascader__active-icon  {
    font-size: 20px;
  }
}
.profession-height {
  height: 30px;
}

//InforItem
.infor-item {
  height: 67px;
  width: 340px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .label {
    color: #08090A;
  }
  .right-box {
    color: #999999;
    display: flex;
    align-items: center;
    gap: 6px;
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .arrow {
      width: 20px;
      height: 20px;
    }
  }  
}

.my-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16.5px;
  margin-top: 10px;
  .hide-profile {
    width: 340px;
    padding-top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}