.void-hint {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 16.5px;
  color: #838383;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  .below-box {
    display: flex;
    align-items: center;
    color: #303030;
    .arrow {
      width: 20px;
      height: 20px;
    }
  }
}