.pop-window-bg {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: fixed;
  
  .pop-window {
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #707070;
    background: #F8F8F8;
    width: 280px;
    height: 130px;
    z-index: 1000;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    .upper-box {
      border-radius: 25px 25px 0 0;
      height: 73px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: #ECECEC 1px solid;
      .confirm {
        font-size: 19px;
        color: #000000;
        -webkit-text-stroke: 1px #000000;
      }
    }
    .under-box {
      border-radius: 0 0 25px 25px;
      font-size: 18px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F8F8F8;
      .yes {
        width: 140px;
        color: #000000;
        border-right: #ECECEC 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .no {
        width: 140px;
        color: #018BBC;
        display: flex;
        align-items: center;
        justify-content: center;      
      }
    }
  }
}