.new-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 315px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 15px;
    .radio-group {
      display: flex;
      gap: 30px;
    }
  }
  .bottom-button {
    position: absolute;
    bottom: 75px;
  }
}