.organization-audit {
  .head {
    padding-top: 15px;
  }
  .long-gap-in-bottom {
    margin-bottom: 133px;
  }
  .box1 {
    width: 100% !important;
  }
  .new-organ {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #ECECEC;
  }
  .alumnus-scroll-box {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    color: #68BAD7;
  }
}