.my {
    background: #F7F7F7;
    height: 100vh;
    .head {
        position: relative;
        padding: 42px;
        padding-bottom: 47px;
        padding-right: 0;
        width: 100%;
        .head-bgimg {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: -42px;
            width: 100%;
        }
        .head-wrapper {
            display: flex;
            align-items: center;
            gap: 18px;
            position: relative;
            z-index: 5;
            .profile {
                width: 66px;
                height: 66px;
                border-radius: 50%;
            }
            .middle-box {
                display: flex;
                flex-direction: column;
                gap: 9px;
                .name {
                    font-size: 21px;
                    color: #FFFFFF;
                    font-weight: 600;
                }
                .brief {
                    font-size: 15px;
                    color: #FFFFFF;
                }
            }
            .arrow {
                position: absolute;
                right: 88px;
                width: 24px;
                height: 24px;
            }
        }
    }
}