.audit-item {
  display: flex;
  align-items: center;
  height: 76px;

  .profile {
    margin-left: 15px;
    width: 45px;
    height: 45px;
  }

  .border-box {
    border-bottom: #ECECEC 1px solid;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 303px;
    margin-left: 12px;
  }

  .middle-box {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .name {
      font-size: 15px;
      color: #08090A;
    }

    .description {
      font-size: 12px;
      color: #999999;
      width: 150px;
      height: 15px;
    }
  }

  .button {
    border-radius: 14px 14px 14px 14px;
    background: #018BBC;
    width: 60px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    .text {
      font-size: 15px;
      color: #FFFFFF;
    }
  }
}